@use '../globals/variables' as v;
@use '../globals/mixings' as m;


.galeria{
    padding: v.$spaced 0 ;
}

.galeria-imagenes{
    @include m.flex(row, space-around, 1rem){
        align-items: center;
        flex-wrap: wrap;
    }
}



.overlay{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.436);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    .imgContent{
        position: relative;
        max-width: 80%;
        .right{
            right: 0;
        }
        
        .left{
            left:0
        }
        .lateral-btn{
            display: block;
            position: absolute;
            top:50%;
            font-weight: 600;
            font-size: 2rem;
            padding: .5rem 1rem;
            border-radius: 15px;
            background-color: v.$morado;
            transition: all .4s ease;
            cursor: pointer;
            &:hover{
                color: v.$blanco;
                background-color: v.$rosa;
                transform: scale(.8);
            }
        }
    }
    .btnClose{
        background-color: v.$verde;
        color:v.$blanco;
        font-weight: 600;
        display: block;
        padding:.5rem 1rem;
        border-radius: 15px;
        transition: all .4s ease;
        margin: 0;
        &:hover{
            cursor: pointer;
            color: v.$blanco;
            background-color: v.$rosa;
            transform: scale(.8);
        }

        
    }
    picture{
        display: block;
        padding: v.$spaced v.$spaced 0 v.$spaced ;
    }


}