@use '../globals/variables' as v;
@use '../globals/mixings' as m;

.lineup{
    background-color: v.$rosa;
    padding:v.$spaced 0;
    color:v.$blanco;
    p{
        text-align: center;
    }
}

.contenedorEvento{
    margin: 0 auto;
    @include m.flex(row, center, 1rem){
        flex-wrap: wrap;
        align-items: center;
    }
}


.evento{
    width: 400px;
    padding:v.$spaced 0;
    color:v.$negro;
    margin: v.$spaced auto;

    .list{
        list-style: none;
        padding: 0;
        li{
          padding:1rem 2rem;
          font-size: 1.2rem;
          font-family: v.$principalFont;  
        }
    }

    p::after{
        content: '';
        width: 100px;
        height: 100px;
        display: block;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin:0 auto;
    }
}

.rock p::after{
    background-image: url('/build/img/icono_rock.png');
}

.EDM p::after{
    background-image: url('build/img/icono_edm.png');
}

.amarillo{
    background-color: v.$amarillo;
    .list{
        & :nth-child(2n+1){
            background-color: #e1d85f;
            font-weight: 600;
        }
    }
}

.verde{
    background-color: v.$verde;
    .list{
        & :nth-child(2n+1){
            background-color: #409b96;
            font-weight: 600;
        }
    }
}