@use '../globales/variables' as v;
@use '../globales/mixins' as m;
@use 'sass:color';


.galeria{
    padding: 2rem;

    h3{
        color: v.$negro;
    }
    ul{
        margin: 2rem 0;
        list-style: none;
        padding: 0;

        @include m.tablet{
        @include m.grid{
                grid-template-columns: repeat(2, 1fr);
                gap:1rem;
                align-items: center;
            }
        }

        @include m.desktop{
            @include m.grid{
                grid-template-columns: repeat(4, 1fr);
            }
        }

    }
}


.lista-galeria{
    li{
        padding: .5rem 0;
        img{
            height: 10rem;
            object-fit: cover;
        }
    }
}

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba($color: v.$negro, $alpha: 0.47);
    padding: 2rem;

    @include m.flex(){
        flex-direction: column;

    }

    img{
        width: 70%;
        margin:0 auto;
    }

    .btn-cierre{
        display: block;
        text-align: center;
    }
}