@use '../globales/variables' as v;
@use '../globales/mixins' as m;

.encabezado{
    background-color: v.$verde;
    padding:1rem 0;
    .contenedor{
        h1{
            color:v.$blanco;
        }
        @include m.tablet{
             @include m.flex(2rem, space-between, center);
        }
    }

    @include m.tablet(){

        
        &.fixed{
            position: fixed;
            left: 0;
            top:0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }
}

.navegacion__principal{
    @include m.tablet{
        @include m.flex;
    };
    a{
        display: block;
        text-align: center;
        padding:1rem 0;
        color:v.$blanco;
        &:hover{
            color:v.$amarillo;
        }
    }
}

