@use '../globales/mixins' as m;


.contenido__presentacion{
    padding:2rem 0;
    @include m.tablet{
        gap:2rem;
        flex-basis:calc(50%);
        .texto__presentacion, picture{
            flex-basis: 50%;
        }
    }


}