@use '../globales/mixins' as m;
@use '../globales/variables' as v;
@use 'sass:color';

.video{
    max-height: 600px;
    position: relative;
    overflow: hidden;
    .slogan{
        height: 100%;
        width: 100%;
        background: linear-gradient(270deg, rgba(v.$morado, 60%), rgba(color.adjust(v.$morado, $blackness:20%), 60%)); 
        position: absolute;
        inset: 0;
        @include m.flex(0, center ,left) {
            flex-direction: column;
        };

    }
}

.contenido__video{
    h2{
        color:v.$blanco;
        font-size: 3rem;
        }
        
        p{
            color: v.$blanco;
            font-size: 3vh;
            font-weight: 700;
            padding: .5rem 1rem;
            margin: 0;
            background-color: v.$rosa;
            display: inline;
            line-height: 1.5;
        }
    }