@use './variables' as v;


.html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1rem;
}

*,
*:after, 
*:before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size:1.2rem;
}



h1, h2, h3, h4{
    margin: 0;
    font-family: v.$principalFont;
    text-align: center;

}

h1{
    font-size: 3.2vh;
}

h2{
    font-size: 3.6vh;
}

.contenedor{
    width:1200px;
    margin: 0 auto;
    max-width: 95%;
}

.btn{
    padding: .5rem 1rem;
}