@use './variables' as v;


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    position:relative;
    &.body__fijo{
        overflow: hidden;
    }
}

*,
*:after, 
*:before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size:1.2rem;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4{
    margin: 0;
    font-family: v.$principalFont;
    text-align: center;

}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 3vh;
}
h3{
    font-size: 2.8rem;
}

.contenedor{
    width:1000px;
    margin: 0 auto;
    max-width: 95%;
}

.btn{
    padding: .5rem 1rem;
}

p{
    font-size: 1.6rem;
    font-family: v.$principalFont;
}

video{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
    padding: 0;
}