@use './variables' as v;


@mixin MedScreen($ancho){
    @media only screen and (min-width:$ancho){
        @content;
    }
}


@mixin flex($direction:row, $justify:center, $gap:gap ){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    gap:$gap;
    @content;
}